.bx--header__global li {
  display: block;
}

.bx--side-nav__items {
  padding-top: 0;
}

.disabled-hover > a:hover {
  cursor: not-allowed !important;
}

.page-numbers {
  color: #0f62fe;
}

.bx--side-nav__items {
  background-color: #e8f0ff;
}

a.bx--side-nav__link[aria-current='page']::before,
a.bx--side-nav__link--current::before {
  background-color: #0f62fe;
}

a.bx--side-nav__link:focus,
.bx--side-nav a.bx--header__menu-item:focus,
.bx--side-nav__submenu:focus {
  outline: 2px solid #0f62fe;
}

.bx--side-nav__item:not(.bx--side-nav__item--active):hover
  .bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__submenu:hover,
.bx--side-nav__item:not(.bx--side-nav__item--active)
  > .bx--side-nav__link:hover,
.bx--side-nav__menu
  a.bx--side-nav__link:not(.bx--side-nav__link--current):not([aria-current='page']):hover,
.bx--side-nav a.bx--header__menu-item:hover,
.bx--side-nav .bx--header__menu-title[aria-expanded='true']:hover,
.bx--side-nav__menu a.bx--side-nav__link--current,
.bx--side-nav__menu a.bx--side-nav__link[aria-current='page'],
a.bx--side-nav__link--current {
  background-color: #ccdeff;
  cursor: pointer;
}

.bx--side-nav__item--active
  .bx--side-nav__submenu[aria-expanded='false']::before {
  background-color: #0f62fe;
}

.bx--container {
  padding-left: 18rem;
  padding-top: 1.5rem;
}

.bx--padder {
  min-width: 18rem;
  min-height: 100vh;
}
